<div style="background: red">
  <div class="header">
    <img src="assets/neoplants/neoplants-logo.svg">
    <button>WE'RE HIRING</button>
  </div>

  <div class="slogan">
    <span class="line-container"><span class="line">THE</span></span>
    <span class="line-container"><span class="line">FUTURE</span></span>
    <span class="line-container"><span class="line">OF</span></span>
    <span class="line-container"><span class="line">PLANTS</span></span>
  </div>
</div>



<!-- our parallax stuff -->
<div appParallax [ratio]="0.2" id="square"></div>
<div appParallax [ratio]="0.5" id="circle"></div>
<div appParallax [ratio]="-.1" id="rectangle"></div>
<div appParallax [ratio]="-.3" class="neoplant-video">
  <iframe width="80%" height="800px"
          src="https://www.youtube.com/embed/tgbNymZ7vqY">
  </iframe>
</div>


<div style="background: white">
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
  <p>test</p>
</div>

